## Pandas에 의한 크로스 집계

In [1]:
import pandas as pd
df1 = pd.read_excel(u'판매 데이터.xlsx', u'판매 이력)

SyntaxError: EOL while scanning string literal (3803251146.py, line 2)

In [2]:
df2 = pd.read_excel(u'판매 데이터.xlsx', u'상품')

NameError: name 'pd' is not defined

In [4]:
df3 = pd.merge(df1, df2, on=u'상품 ID')
df3

NameError: name 'pd' is not defined

In [5]:
df3.pivot_table(u'금액', [u'점포 ID', u'상품명'], u'매출일', aggfunc='sum')

NameError: name 'df3' is not defined

In [ ]:
def category(row):
    return {101:u'식료품}

## SQL에 의한 테이블의 집계